/* width */

 ::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: hsl(0, 74%, 63%);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(41, 38, 38);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 18, 18);
}